body {
  background:rgb(81, 142, 221);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.entire{
  margin-bottom:50%;
}
.fileContainer{
  background-color: red;
}

.h1 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 1%;
	padding-left: 3%;
}
.hello {
	background: rgb(81, 142, 221);
	margin-top: -6%;
	padding-left: 7%;
	padding-right: 7%;
	color: white;
}
.a {
	font-size: 12px;
	color: #518edd;
}
.bye {
	background: rgb(81, 142, 221);
}
.gif {
	float: left;
}
#logo {
	margin-top: 8%;
	padding-top: 5%;
	width: 30%;
	height: 55vh;
}
#logo1 {
	margin-left: 2.5%;
	margin-top: 24%;
	width: 28%;
	height: 40vh;
}
.h1 {
	font-size: 20px;
	margin-bottom: 1%;
	padding-left: 3%;
}
.hello {
	background: rgb(81, 142, 221);
	margin-top: -6%;
	padding-left: 7%;
	padding-right: 7%;
	color: white;
}
.bye {
	background: rgb(81, 142, 221);
}
.gif {
	float: left;
}
#logo {
	margin-top: 8%;
	padding-top: 5%;
	width: 30%;
	height: 55vh;
}
#logo1 {
	margin-left: 2.5%;
	margin-top: 24%;
	width: 28%;
	height: 40vh;
}
#logo2 {
	margin-left: 33%;
	position: absolute;
	background: rgb(81, 142, 221);
	margin-top: 0%;
	width: 33%;
	height: 33vh;
}
/////////////////////////////////////////////////////LOGO ANIMATION///////////////////////////////////////////
.landing-statement {
	margin: 10%;
	margin-top: -1%;
	margin-bottom: 1%;
	color: white;
	text-shadow: #333;
}
#element {
	height: 20%;
	width: 40%;
	margin-top: 7%;
	background-color: rgb(255, 255, 255);
	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
}
@keyframes stretch {
	0% {
		transform: scale(1.4);
		background-color: rgba(255, 255, 255, 0.02);
		border-radius: 10%;
	}
	50% {
		background-color: rgba(255, 255, 255, .02);
	}
	100% {
		transform: scale(1.5);
		background-color: rgba(255, 255, 255, .02);
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		opacity: 1\9; /* IE9 only */
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
		opacity: 1\9; /* IE9 only */
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
		opacity: 1\9; /* IE9 only */
	}
	to {
		opacity: 1;
	}
}
// .fade-in {
//     margin-top:0%;
//     opacity:0;
//     -webkit-animation:fadeIn ease-in 1;
//     -moz-animation:fadeIn ease-in 1;
//     animation:fadeIn ease-in 1;
//     -webkit-animation-fill-mode:forwards;
//     -moz-animation-fill-mode:forwards;
//     animation-fill-mode:forwards;
//     -webkit-animation-duration:.5s;
//     -moz-animation-duration:.5s;
//     animation-duration:.5s;
// }
.fade-in.two {
	animation-delay: .7s;
	// background: linear-gradient(to right, #dae2f8, #d6a4a4);
	min-height: 27vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
////////////////////////////////////////PARALLAX SETTINGS////////////////////////////////////////////////////
.test2 {
	margin-top: 9%;
	width: 70%;
	float: right;
}
.test1 {
	margin-top: 9%;
	width: 70%;
	float: left;
}
h3 {
	background-color:lemonchiffon;
	color: black;
	margin: 0 auto;
}
.landing-image {
	width: 40%;
}
.p {
	background: linear-gradient(to right, #dae2f8, #d6a4a4);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax {
	background: linear-gradient(to right, #dae2f8, #d6a4a4);
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax1 {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-left: 2%;
	margin-right: 5%;
	margin-top: -8%;
	background-image: url('https://photos.demandstudios.com/getty/article/187/161/86522010.jpg');
	// opacity: 0.8;
	min-height: 90vh;
	background-attachment: fixed;
	background-position: 800% 75%;
  background-repeat: no-repeat;
  
	background-size: cover;
	border: 16px solid #518edd;;
	border-top: 100px solid #518edd;;
}
.parallax2 {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-right: 2%;
	margin-left: 5%;
	margin-top: -14%;
	background-image: url("https://www.galachoveterinarios.com/wp-content/uploads/2016/03/Peluqueria-canina-felina.jpg");
	// opacity: 0.8;
	min-height: 90vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 16px solid snow;
	border-top: 100px solid snow;
}
.parallax3 {
  margin-top:-8%;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
	margin-left: 2%;
	margin-right: 5%;
	background-image: url("https://www.petplan.com.au/blog/wp-content/uploads/2019/07/Dog-Grooming.jpg");
	// opacity: 0.8;
	min-height: 90vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 96%;
	border: 16px solid #518edd;
	border-top: 100px solid #518edd;
}
.par {
  margin-bottom:0%;
	padding-bottom: 8%;
    font-weight: bold;
    padding-right: 4%;
  
 
    background: snow;
    color: #518edd;
    font-size: 36px;
}
.para {
	padding-bottom: 48%;
    font-weight: bold;
    padding-right: 4%;
    padding-top: 9%;
    height: 100vh;
    background: snow;
    color: #518edd;
    font-size: 36px;
}

.para1 {
  margin-bottom:5%;
	padding-bottom: 40%;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 17%;
    height: 100vh;
    background: #518edd;
    color: snow;
    font-size: 36px;
}
.para2 {
	font-weight: bold;
    padding-top: 18%;
    height: 100vh;
    background: snow;
    color: #518edd;
    font-size: 36px;
}
.p1 {
	font-size: 21px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #518edd;
    font-weight: 100;
    padding-left: 73%;
}
.p2 {
	font-size: 21px;
	line-height: 40px;
	margin-bottom: 20px;
	color: snow;
	font-weight: 100;
	padding-left: 0%;
}
.p3 {
	font-size: 21px;
	line-height: 40px;
	margin-bottom: 20px;
	color: #518edd;
	font-weight: 100;
	padding-left: 70%;
}
// @media only screen and (max-device-width: 1366px) {
// 	.parallax {
// 		background-attachment: scroll;
// 	}
// }
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
.info {
	padding: 10px 20px;
	display: inline-block;
	background-color: #5776e9;
	color: white;
}
.info.info-danger {
	background-color: #e73f3f;
}
.App {
	.App-header {
		opacity: .9;
		background: rgba(155, 70, 70, 0.3);
		color: white;
		a {
			color: white;
			padding: 0 5px;
			text-decoration: unset;
		}
		a.active {
			font-weight: bold;
		}
	}
	.App-title {
		font-size: 1.5em;
	}
	.App-intro {
		font-size: large;
	}
}
//////////////////////////////////////COLE CSS////////////////////////////////////////////////////////////////


.Home {
	p {
		font-size: 1.2em;
	}
	div.col-md-3 {
		width: 25%;
		height: 100vh;
		margin: 0px 0px 0px 0px;
		padding: 0px;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
		background: white;
	}
	div.col-md-6 {
		padding: 0px;
		display: flex;
		flex-direction: column;
		margin: 8% 0% 0% 0%;
  }
	div.row {
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
	}
	.card:hover .avatar-flip {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}
	.card:hover .avatar-flip img:first-child {
		opacity: 0;
	}
	.card:hover .avatar-flip img:last-child {
		opacity: 1;
	}
	.avatar-flip {
		border-radius: 100px;
		overflow: hidden;
		height: 150px;
		width: 150px;
		position: relative;
		margin: auto;
		top: -60px;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		box-shadow: 0 0 0 13px #f0f0f0;
		-webkit-box-shadow: 0 0 0 13px #f0f0f0;
		-moz-box-shadow: 0 0 0 13px #f0f0f0;
	}
	.avatar-flip img {
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 100px;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
	}
	.avatar-flip img:first-child {
		z-index: 1;
	}
	.avatar-flip img:last-child {
		z-index: 0;
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		opacity: 0;
	}
	.card {
    text-align: center;
    background: white;
    position: absolute;
    top: 49%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 69%;
    width: 107%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
	}
	li {
		list-style-type: none;
		text-align: start;
	}
	.container {
		margin: 22% -80% -10% 0%;
		margin-left: 0;
	}
	.settings-box {
    padding-right: 10%;
    padding-left: 8%;
    background: white;
		border-radius: 6px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
		display: flex;
		margin: 32% 0% 0% 15%;
		width: 70%;
		height: 60%;
		flex-direction: column;
	}
	.hold-down {
		margin: 5% 0% 0% 0%;
	}
	.settings-button {
		border: none;
		border-radius: 4px;
		background: #c7c5c5;
	}
}
.roww{
  background: white;
    padding-top: 1%;
    padding-left: 2%;
    border-radius: 5px;
    margin-left: 10%;
    width: 95%;
}
.groomer-db {
	.next-apt, .mod-box, .settings-box, .map{
		background: white
	}
	.container {
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
		margin: 0% 0% 0% 6.5%;
	}
	.col-md-6 {
    margin-bottom:14%;
		width: 50%;
		height: 89%;
	}
	.row {
		height: 600px;
	}
	.next-apt {
    padding-top:1%;
    padding-bottom:1%;
    padding-left:40%;
    background:snow;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
		margin: 22% 0% 0% 0%;
	}
	.all-apt {
    background: snow;
		height: 50%;
		display: flex;
		justify-content: center;
	}
	.all-apt li {
		list-style-type: none;
		padding: 3% 0% 0% 0%;
	}
	.all-apt ul {
		padding-left: 0;
		margin: 2% 0% 0% 0%;
	}
	.td-apt-sch {
		margin-left:13%;
		display: flex;
		justify-content: center;
	}
	.td-apt-set {
		position: fixed;
		display: flex;
		justify-content: center;
		margin: -4% 0% 0% 18%;
	}
	.list {
		margin: 10% 0% 0% -39%;
		overflow-y: scroll;
		height: 150%;
	}
	.map {
		width: 90%;
		height: 70%;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
		margin: 22% 0% 0% 5%;
	}
	.settings-box {
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
		margin: 15% 5% 0% 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.all-settings {
		margin: 8% 20% -25% 20%;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		height: 150%;
	}
	#start-hours {
		display: block;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 700;
		color: #444;
		line-height: 1.3;
		padding: .6em 1.4em .5em .8em;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid #aaa;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
		border-radius: .5em;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}
	#end-hours {
		display: block;
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 700;
		color: #444;
		line-height: 1.3;
		padding: .6em 1.4em .5em .8em;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 1px solid #aaa;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
		border-radius: .5em;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #fff;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
		background-repeat: no-repeat, repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: .65em auto, 100%;
	}

	button {
		background-color: #c7c5c5;
		border: none;
		border-radius: 4px;
		color: white;
		padding: 2% 0%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.all {
		display: flex;
		flex-direction: column;
		height: 50%;
		justify-content: center;
	}
	.mod-box {
    background:snow;
		margin: 15% 0% 0% 0%;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .075);
		height: 50%;
	}
}
.Secret {
	.result {
		font-size: 1.2em;
	}
}
///////////////////////////////////////////PROFILE/////////////////////////////////////////
.containerr {
	width: 30%;
	margin-left: 3%;
	margin-top: 90px;
	margin-bottom: 120px;
	background-color: rgb(255, 255, 255);
	padding: 0 20px 20px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(163, 163, 163, 0.85);
	text-align: center;
}
.containerr-two {
	float: right;
	margin-top: 0%;
	margin-right: 3%;
	height: 60%;
	width: 60%;
	background-color: rgb(255, 255, 255);
	padding: 0 20px 20px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 60, 255, 0.075);
	text-align: center;
}
.containerr-calendar{
  float: right;
    margin-top: -25%;
    margin-right: -240%;
    height: 60%;
    width: 220%;
    background-color: white;
    padding: 0 20px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
    text-align: center;
}
.containerr:hover .avatar-flip {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.containerr:hover .avatar-flip img:first-child {
	opacity: 0;
}
.containerr:hover .avatar-flip img:last-child {
	opacity: 1;
}
.avatar-flip {
	border-radius: 100px;
	overflow: hidden;
	height: 150px;
	width: 150px;
	position: relative;
	margin: auto;
	top: -60px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 13px #f0f0f0;
	-webkit-box-shadow: 0 0 0 13px #f0f0f0;
	-moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
	z-index: 1;
}
.avatar-flip img:last-child {
	z-index: 0;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	opacity: 0;
}
h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #333;
}
h4 {
	font-size: 13px;
	color: #00baff;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #666;
}
// \--------------------------------------
#book {
	float: right;
}
// @media screen and (max-width: 500px) {
// 	body {
// 		display: flex;
// 		align-items: center;
// 		background-color: rgb(255, 255, 255);
// 		color: white;
// 	}
// 	.containerr {
// 		width: 320px;
// 		margin: 120px auto 120px;
// 		background-color: rgb(255, 255, 255);
// 		padding: 0 20px 20px;
// 		border-radius: 6px;
// 		-webkit-border-radius: 6px;
// 		-moz-border-radius: 6px;
// 		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
// 		-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
// 		-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
// 		text-align: center;
// 	}
// 	.containerr-two {
// 		float: right;
// 		margin-top: 10px;
// 		margin-right: 3%;
// 		height: 60%;
// 		width: 100%;
// 		background-color: rgb(255, 255, 255);
// 		padding: 0 20px 20px;
// 		border-radius: 6px;
// 		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
// 		text-align: center;
// 	}
// 	// \--------------------------------------
// 	#book {
// 		display: flex;
// 	}
// }

////////////////////////////RATING////////////////////////////////
.star-ratings-css {
	display: flex;
	justify-content: center;
	unicode-bidi: bidi-override;
	color: #f0e5aa;
	font-size: 25px;
	height: 25px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-shadow: 0px 1px 0 #a2a2a2;
	&-top {
		color: #e7711b;
		padding: 0;
		display: flex;
		justify-content: center;
		z-index: -1;
		display: block;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	&-bottom {
		padding: 0;
		display: block;
		z-index: 0;
	}
}
.star-ratings-sprite {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
	font-size: 0;
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 210px;
	margin: 0 auto;
	&-rating {
		background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
		background-position: 0 100%;
		float: left;
		height: 21px;
		display: block;
	}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
em {
	font-style: italic;
}
h1 {
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: 16px;
	margin-bottom: 15px;
}

///////////////////////////////////

.outer {
	position: relative;
}
.calendar {
	margin: 0 auto;
	max-width: 1280px;
	min-width: 500px;
	box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2), 0px 3px 7px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.wrap {
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 1280px;
	height: 500px;
	border-radius: 8px;
}
thead {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
thead th {
	text-align: center;
	width: 100%;
}
header {
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
  background:lemonchiffon;
	color: rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
header h1 {
	font-size: 1.25rem;
	text-align: center;
	font-weight: normal;
}
tbody {
	position: relative;
	top: 100px;
}
table {
	background: #fff;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.headcol {
	width: 60px;
	font-size: 0.875rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	padding: 0.25rem 0;
	text-align: center;
	border: 0;
	position: relative;
	border-bottom: 1px solid transparent;
}
thead th {
	font-size: 1rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
	padding: 1rem;
}
thead {
	z-index: 2;
	background: white;
	border-bottom: 2px solid #ddd;
}
tr,
tr td {
	height: 20px;
}
td {
	text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
	border-bottom: 1px solid #e8e8e8;
}
tr td {
	border: 1px solid #eee;
	padding: 0;
	white-space: none;
	word-wrap: nowrap;
}
tbody tr td {
	position: relative;
	vertical-align: top;
	height: 40px;
	padding: 0.25rem 0.25rem 0 0.25rem;
	width: auto;
}
.secondary {
	color: rgba(0, 0, 0, 0.4);
}
.checkbox {
	display: none;
}
.checkbox + label {
	border: 0;
	outline: 0;
	width: 100px;
	background: white;
	color: transparent;
	display: block;
	display: none;
}
.checkbox:checked + label {
	border: 0;
	outline: 0;
	width: 100%;
	height: 100%;
	background: red;
	color: transparent;
	display: inline-block;
}
.event {
	background: #00b4fc;
	color: white;
	border-radius: 2px;
	text-align: left;
	font-size: 0.875rem;
	z-index: 2;
	padding: 0.5rem;
	overflow-x: hidden;
	transition: all 0.2s;
	cursor: pointer;
}
.event:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	background: #00b4fc;
}
.event.double {
	height: 200%;
}
td:hover:after {
	content: "Available";
	vertical-align: middle;
	font-size: 1rem;
	font-weight: 100;
	color: rgba(0, 0, 0, 0.5);
}
button.secondary {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: white;
	padding: 0.5rem 0.75rem;
	font-size: 14px;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-weight: 500;
}
button.secondary:hover {
	background: #fafafa;
}
button.secondary:active {
	box-shadow: none;
}
button.secondary:focus {
	outline: 0;
}
tr td:nth-child(2),
tr td:nth-child(3),
.past {
	background: #fafafa;
}
.today {
	color: red;
}
.now {
	box-shadow: 0px -1px 0px 0px red;
}
.icon {
	font-size: 1.5rem;
	margin: 0 1rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.icon:hover {
	color: red;
}
.Login{
	display: flex;
	justify-items: center;
	flex-direction: column;
	background: linear-gradient(
			to right,
			#dae2f8,
			#d6a4a4
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		min-height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	// div{
	// 	display: flex;
	// 	justify-content: center;
	// 	flex-direction: column;
		
	// }
	form{
		display: flex;
		flex-direction: column;
		width: 25vw;
		justify-content: center;
	}
	.owner-button{
		width: 25vw;
	}
	.groomer-button{
		width: 25vw;
	}
	.owner-login{
		width: 25vw;
	}
	 .center{
	margin: 15% 0% 0% 0%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	}
	.logo{
		margin-left: auto;
		margin-right: auto;
	}
}

.Signup, .Login{
	body {
		text-align: center;
		background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/upfeathers.png);
	}
	.form-container {
		width: 100%;
		max-width: 320px;
		display: flex;
		flex-direction: column;
		margin: 10% 0% 0% 37%;
		input[type=text],
		input[type=email],
		input[type=phone],
		input[type=number],
		input[type=password],
		textarea {
			width: 90%;
			margin: 20px auto;
			border: 1px solid white;
			box-shadow: 0 0 1px 1px white;
		}
		.logo{
			margin-left: auto;
			margin-right: auto;
		}
		.work{
			display: contents;
			margin: 15% 0% 0% 0%;
		}
		.switchbutton{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		textarea {
			min-height: 150px;
		}
		.panel {
      background: rgba(0, 0, 0, .2);
      font-size:40px;
			.panel-heading {
				margin-bottom: 20px;
			}
		}
		.btn-group {
			width: 90%;
			margin: 0 auto 10px auto;
		}
		.back {
			float: left;
		}
		.continue {
			float: right;
		}
	}

	div.pet-owner {
		// background: linear-gradient(
		// 	to right,
		// 	#dae2f8,
		// 	#d6a4a4
		// ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		min-height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.btn {
		background: white ;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    border: none;
    color:blue;
	}
	.panel-primary {
		border-color: none;
	}
	.panel-primary h3 {
		background: none;
	}
	button {
		background: linear-gradient(to left, #dae2f8, #d6a4a4);
		border: none;
		border-radius: 2px;
	}
	/* Multi-Part CSS */
	input[type=checkbox] {
		position: absolute;
		/* Position the checkbox in upper left corner */

		opacity: 0;
	}

	/* Styling Parts */
	#part1,
	#part2,
	#part3,
	#part4 {
		z-index: 2;
		display: block;
		height: auto;
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}

	/* Hidden Parts */
	#part2,
	#part3,
	#part4 {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	/* Show Step 2 & Hide Step 1 */
	#step2:checked ~ #part2 {
		opacity: 1;
		height: auto;
	}
	#step2:checked ~ #part1 {
		opacity: 0;
		height: 0;
		display: none;
	}

	/* Show Step 3  & Hide Step 2 */
	#step3:checked ~ #part3 {
		opacity: 1;
		height: auto;
	}
	#step3:checked ~ #part2 {
		opacity: 0;
		width: 0;
		height: 0;
	}

	#step4:checked ~ #part4 {
		opacity: 1;
		height: auto;
	}
	#step4:checked ~ #part3 {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

///////////////////////////BUTTON/////////@at-rootbutton {

/* Custom */
.button {
	margin-left: 5%;
}

.button {
	border: none;
	padding: 7px 30px;
	top: 0;
	font-size: 19px;
	font-family: "Open Sans", Helvetica;
	border-radius: 4px;
	background: white;
	color: #fff;
	box-shadow: 0px 0px 0px rgba(253, 255, 254, 0.1);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.button:hover {
	top: -10px;
	box-shadow: 0px 10px 10px rgba(255, 254, 254, 0.2);

	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}

.buttonn {
	border: none;
	padding: 7px 30px;
	top: 0;
	font-size: 19px;
	font-family: "Open Sans", Helvetica;
	border-radius: 4px;
	background: white;
	color: #fff;
	// box-shadow: 0px 0px 0px rgba(253, 255, 254, 0.1);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-left: 60%;
}
.buttonn:hover {
	top: -10px;
	box-shadow: 0px 10px 10px rgba(255, 254, 254, 0.2);

	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}
.buttonn:active {
	top: 0px;
	// box-shadow: 0px 0px 0px rgb(255, 255, 255);
	background: #d3e8f0;
}
////////////////////////////////////////FOOOTER////////////////////////////
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: linen;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3::before{
  content:url('./Spaws_black.png');
  width: 10%;
}


.footer-distributed h3{
  background: none;
	color:black;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #518edd;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  #518edd;
}

.footer-distributed .footer-company-name{
	color:  #518edd;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #518edd;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #518edd;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
#footer{
  margin-top: 57%;
    background: linen;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}








































@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700');

/* ====================================
General Styles
==================================== */

body {
  background-color: #fff;
}

.page-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #2a1f30 50%, #383d44 50%);
}

/* ====================================
Home Slider
==================================== */

#home-slider {
  height: 80vh;
  width: 90vw;
  position: relative;

}
.swiper-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.swiper-image-one {
  background-image: url(https://source.unsplash.com/GXOGGENgHnQ/1600x900);
}

.swiper-image-two {
  background-image: url(https://source.unsplash.com/Jy6luiLBsrk/1600x900);
}

.swiper-image-three {
  background-image: url(https://source.unsplash.com/sFLVTqNzG2I/1600x900);
}

.swiper-image-four {
  background-image: url(https://source.unsplash.com/pj1jt4vBGZY/1600x900);
}

.swiper-image-five {
  background-image: url(https://source.unsplash.com/Jy6luiLBsrk/1600x900);
}

.swiper-image-six {
  background-image: url(https://source.unsplash.com/bxCgan0J1Sg/1600x900);
}

.swiper-image {
  width: 50%;
  height: 100%;
}
.swiper-image-inner {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-blend-mode: overlay;
}
.swiper-image-inner.swiper-image-left {
  padding: 4rem;
}
.swiper-image-left {
  filter: sepia(100%);
  transition: all 1s linear;
  transition-delay: 1s;
}
.swiper-slide.swiper-slide-active .swiper-image-left {
  filter: sepia(0%);
}
.swiper-image-inner.swiper-image-right {
  filter: hue-rotate(-60deg);
  transition: all 1s linear;
  transition-delay: 1s;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: multiply;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #fff;
  align-self: flex-start;
  margin: 0 0 auto 0;
  font-size: 4.5rem;
  line-height: 1;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
h1 span.emphasis {
  font-weight: 700;
  font-style: italic;
  opacity: 0;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
  transform: translate3d(-20%, 0, 0);
  display: inline-block;
}
h1 span:not(.emphasis) {
  font-size: 3.5rem;
}
h1 + p {
  font-family: 'Cormorand SC';
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1;
  margin-bottom: auto;
  align-self: flex-end;
  text-transform: uppercase;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
  font-weight: 500;
  color: #fff;
  padding-right: 8rem;
}
p.paragraph {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  width: 100%;
  max-width: 350px;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  transform: translate3d(-20%, 0, 0);
}
.swiper-slide.swiper-slide-active .swiper-image-right {
  filter: hue-rotate(90deg);
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1 + p {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 3.9rem;
  }
  h1 span:not(.emphasis) {
    font-size: 2.9rem;
  }
  h1 + p {
    font-size: 13px;
  }
  p.paragraph {
    font-size: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 3.5rem;
  }
  h1 span:not(.emphasis) {
    font-size: 2.5rem;
  }
  p.paragraph {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  #home-slider{
    height: 86vh;
    width: 96vw;
  }
  h1 {
    font-size: 3.2rem;
    align-self: center;
  }
  h1 span:not(.emphasis) {
    font-size: 2.1rem;
  }
  p.paragraph {
    max-width: 94%;
  }
}

/* Swiper css file. Only thing changed down here is the pagination styling */
/**
 * Swiper 3.4.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: December 13, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  
}
/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #fff;
  opacity: 0.4;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 15px;
  bottom: 15px;
}
.swiper-container-vertical
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube, .swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
